:root {
    box-sizing: border-box;
    --selected: #32B72F
}

*, *:after, *:before {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif
}

/* ==== */

.styled-scrollbars {
    --scrollbar-foreground: inherit;
    --scrollbar-background: #44444400;
    /* Foreground, Background */
    scrollbar-color: var(--scrollbar-foreground) var(--scrollbar-background);
}
.styled-scrollbars::-webkit-scrollbar {
    width: 10px; /* Mostly for vertical scrollbars */
    height: 10px; /* Mostly for horizontal scrollbars */
}
.styled-scrollbars::-webkit-scrollbar-thumb { /* Foreground */
    background: var(--scrollbar-foreground);
}
.styled-scrollbars::-webkit-scrollbar-track { /* Background */
    background: var(--scrollbar-background);
}