:root {
    box-sizing: border-box;
    
    --accent: #CF2B2B;
    --selected: #32B72F;
    --popup: #50D074;

    --accent-font: 'Righteous', sans-serif
}

*, *:after, *:before {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif
}

span {
    word-wrap: break-word;      /* IE 5.5-7 */
    white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
    white-space: pre-wrap;      /* current browsers */
}