header, footer {
    position: fixed;
    width: 100%;
    height: 92px;
    z-index: 1;
    color: #ffffff;
}

header {
    background-color: #CF2B2B;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 18px;
}

main {
    display: flex;
    flex-direction: column;
    padding: 92px 0;
    background-color: #e5e5e5;
}

section {
    margin: 15px 0
}

section span {
    margin-left: 19px;
    font-family: 'Righteous', sans-serif;
    font-size: 26px;
    color: #333333;
}

article {
    margin-top: 17px;
    display: flex;
    overflow-x: auto;
    gap: 16px;
    padding: 0 19px;
    width: 100%
}

main button {
    display: none
}

article button {
    display: block;
    flex-shrink: 0;
    width: 172px;
    height: 202px;
    background-color: #ffffff;
    border-radius: 9px
}

.selected {
    border: 5px solid var(--selected)
}

footer {
    bottom: 0;
    padding: 0 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

footer button {
    height: 60px;
    width: 100%;
    border-radius: 50px;
    color: #ffffff;
    background-color: #CBCBCB;
    font-size: 20px
}

footer button:enabled {
    background-color: var(--selected);
    font-weight: bold;
}

h1 {
    font-family: 'Righteous', sans-serif;
    font-size: 44px
}